<p id="notice"><%= notice %></p>

<h1>Listing Items
  <% if admin_signed_in? %>
      <%= link_to 'New Item', new_item_path, class: "btn btn-primary pull-right", role: "button" %>
  <% end %>
</h1>

<%= form_for_filterrific @filterrific, html: { class: "form-inline" } do |f| %>
  <div class="form-group">
    Name
    <%= f.text_field(:name_contains, class: 'form-control filterrific-periodically-observed') %>
  </div>
  <div class="form-group">
    Style
    <%= f.select(:with_style, Item.styles.map { |key, value| [key.humanize, key] },
     { include_blank: '- Any -' }, class: "form-control filterrific-periodically-observed") %>
  </div>
  <div class="form-group">
    Price Min
    <%= f.number_field(:price_min, class: "form-control filterrific-periodically-observed", step: 0.5) %>
  </div>
  <div class="form-group">
    Price Max
    <%= f.text_field(:price_max,  class: "form-control filterrific-periodically-observed", step: 0.5) %>
  </div>
<% end %>

<br/>

<%= render(
  partial: 'items/list',
  locals: { items: @items }
) %>
